@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Monofett&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Major Mono Display', monospace;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgba(33, 24, 133, 0.555);
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
}

img {
  border-radius: 10px;
  width: 238px;
  height: 309px;
  border: solid black 2px;
  box-shadow: 10px 10px 2px 1px rgba(2, 17, 0, 0.2);
}

/* Utilities */
.row {
  justify-content: center;
}

.container {
  justify-content: center;
  position: relative;
  opacity: 0.8;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 2 2rem;
}

/* Cards */
.card {
  border-radius: 10px;
  object-fit: fill;
  /* border: #ccc 1px dotted; */
  margin: 1rem 1rem 1rem 1rem;
}
/* Navbar */
.navbar {
  font-family: 'Monofett', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  background-color: black;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: rgb(0, 0, 0);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
